@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&family=Sofia+Sans+Condensed:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, blue, red);
}
.voltar{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    font-family: 'Poppins';
}
form {
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    color: #fff;

}

.login>h1 {
    font-weight: 200;
}

.input {
    padding: 1.5rem;
    font-size: 1.5rem;
}

.input:focus {
    outline: none;
    border: none;
}

.input-wrap {
    position: relative;
}

.enviar {
    margin: 0 auto;
    background-color: #7cbb48;
    border: none;
    cursor: pointer;
    width: fit-content;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    transition: 200ms;
    color: #fff;
}

.enviar:focus-visible {
    background-color: rgb(238, 238, 238);
    outline: none;
    box-shadow: 4px 4px 5px rgb(0, 195, 255);

}

.enviar:active {
    transform: translate(2px, -2px);
}


/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;///////////////////////////////////////////////// */

.cadastro {
    width: 450px;
}


.input-box input {
    font-size: 1rem;
    padding: .2rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}


form h1 {
    font-weight: 200;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-box {
    position: relative;
}

.cadastro-label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 400ms;
}


.input-cadastro ~.cadastro-label{
    top: -15px;
    font-size: 12px;
}

.input-data {
    color: #222;
    background-color: #fff;
    padding: .5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 10px;
}

.input-box.erro .input-cadastro{
    border-color: rgb(255, 159, 159);
}

#erro{
    font-weight: 200;
    margin-top: 4px;
    font-size: 11px;
    color: rgb(255, 196, 196);
}

.input-box.sucesso .input-cadastro{
    border-color: #7cbb48;
}