@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&family=Sofia+Sans+Condensed:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrap {
    height: 100vh;
    background: linear-gradient(45deg, blue,red);
}

.login  {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    color: #fff;

}

.login > h1{
    font-weight: 200;
}

.input {
    width: 400px;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.input:focus{
    outline: none;
    transform: translate(2px, -2px);
    border: none;
}

.input-wrap{
    position: relative;
}

.enviar{
    margin: 0 auto;
    background-color: #7cbb48;
    border: none;
    cursor: pointer;
    width: fit-content;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    transition: 200ms;
    color: #fff;
}

.enviar:focus-visible{
    background-color: rgb(238, 238, 238);
    outline: none;
    box-shadow: 4px 4px 5px rgb(0, 195, 255);

}

.enviar:active{
    transform: translate(2px, -2px);
}


/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;///////////////////////////////////////////////// */


.label-cadastro{

}

.input-cadastro{
    font-size: 1rem;
    padding: .5rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
}


form h1{
    font-weight: 200;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radio{

}